################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Moodify/Moodify/bin/Debug/net5.0
/.vs/slnx.sqlite
